DATABASE_URL="postgresql://usuario:senha@localhost:5432/alphadev_landing_saas?schema=public"
PORT=3333
NODE_ENV=production
JWT_SECRET="troque_essa_chave_em_producao"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="https://seudominio.com.br"
FRONTEND_URL_ALT=""
BACKEND_PUBLIC_URL="https://api.seudominio.com.br"
